{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="d-flex justify-content-center align-items-center mt-4">
    <div class="login-box mb-5">
      <div class="login-logo"> OpenGnsys </div>
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">
            <i class="fas fa-user-circle fa-8x"></i>
          </p>

          {{ wtf.quick_form(form,
                            method='post',
                            form_type='basic',
                            button_map={'submit_btn':'primary'}) }}
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
<!-- /.login-box -->
</div>

{% endblock %}
