{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h1 class="m-5">{{_('Client details')}}</h1>

{{ wtf.quick_form(form,
                  method='post',
                  button_map={'create': 'primary'},
                  extra_classes="mx-5") }}

<table class="table">
    <tbody class="text-center">
        <tr>
            <th>Partition</th>
            <th>Type</th>
            <th>Filesytem</th>
            <th>Size (MB)</th>
            <th>Image</th>
            <th colspan="2"></th>
        </tr>
    </tbody>
    <tbody class="text-center">
    {% for entry in setup %}
        <tr>
            <td>{{ entry.partition }}</td>
            <td>{{ entry.code }}</td>
            <td>{{ entry.filesystem }}</td>
            <td>{{ entry.size // 1024}}</td>
            <td>{{ entry.image }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
