{% extends 'scopes.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}

{% set sidebar_state = 'disabled' %}
{% set btn_back = true %}

{% block nav_client %} active{% endblock %}
{% block nav_client_delete %} active{% endblock %}
{% block content %}

{% set ip_list = form.ips.data.split(' ') %}
{% set ip_count = ip_list | length %}
<h1 class="m-5">
  {{ _('Delete %(ip_count)d client(s)', ip_count=ip_count) }}
</h1>

{{ macros.cmd_selected_clients(selected_clients) }}

{{ wtf.quick_form(form,
                  action=url_for('action_client_delete'),
                  method='post',
                  button_map={'submit': 'primary'},
                  extra_classes="mx-5") }}

{% endblock %}

