{% extends 'commands.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}

{% set sidebar_state = 'disabled' %}

{% block nav_image %} active{% endblock %}
{% block nav_image_restore %} active{% endblock %}
{% block content %}

{% set ip_list = form.ips.data.split(' ') %}
{% set ip_count = ip_list | length %}
<h1 class="m-5">Restore partition image to {{ip_count}} {%if ip_count > 1%}computers{% else %}computer{% endif %}</h1>

{{ macros.cmd_selected_clients(selected_clients) }}

{{ wtf.quick_form(form,
                  action=url_for('action_image_restore'),
                  method='post',
                  button_map={'restore': 'primary'},
                  extra_classes='m-5') }}


{% endblock %}
