{% extends 'commands.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}

{% set sidebar_state = 'disabled' %}

{% block nav_power %} active{% endblock %}
{% block nav_power_poweroff %} active{% endblock %}
{% block content %}

{% set ip_list = form.ips.data.split(' ') %}
{% set ip_count = ip_list | length %}
<h1 class="m-5">
  {{ _('Power off %(ip_count)d client(s)', ip_count=ip_count) }}
</h1>

{{ macros.cmd_selected_clients(selected_clients) }}

{{ wtf.quick_form(form,
                  action=url_for('action_poweroff'),
                  method='post',
                  button_map={'submit': 'primary'},
                  extra_classes="mx-5") }}

{% endblock %}

