{% extends 'commands.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% set ip_list = form.ips.data.split(' ') %}
{% set ip_count = ip_list | length %}
<h1 class="m-5">
  {{ _('Reboot %(ip_count)d client(s)', ip_count=ip_count) }}
</h1>

<ul class="list-group mx-5 list-group-horizontal-sm">
{% for ip in ip_list %}
    <li class="list-group-item flex-fill list-group-item-info">{{ ip }}</li>
{% endfor %}
</ul>

{{ wtf.quick_form(form,
                  action=url_for('action_reboot'),
                  method='post',
                  button_map={'submit': 'primary'},
                  extra_classes="mx-5") }}

{% endblock %}

