{% extends 'commands.html' %}

{% block content %}

<h1 class="m-5">{{_('Partition and Format')}}</h1>

<form class="form-inline" method="POST" id="setupForm">
    <table class="table">
        <thead class="text-center">
            <tr>
                <th>Partition Table Type</th>
                <th>Total Disk Size (MB)</th>
            </tr>
        </thead>

        <tbody data-target="partitons-fieldset" id="setupTable" class="text-center">
                    <tr>
                        {{ form.hidden_tag() }}
                        <td>{{ form.disk_type(class_="form-control") }}</td>
                        <td>{{ disk_size }}</td>
                    </tr>
        </tbody>
    </table>
    <table class="table">
        <thead class="text-center">
            <tr>
                <th>Partition</th>
                <th>Type</th>
                <th>Filesytem</th>
                <th>Size (MB)</th>
                <th>Format?</th>
                <th colspan="2"></th>
            </tr>
        </thead>

        <tbody data-target="partitons-fieldset" id="partitionsTable" class="text-center">
                {% for partition in form.partitions %}
                    <tr data-toggle="fieldset-entry">
                        {{ partition.hidden_tag() }}
                        <td>{{ partition.partition(class_="form-control") }}</td>
                        <td>{{ partition.part_type(class_="form-control") }}</td>
                        <td>{{ partition.fs(class_="form-control") }}</td>
                        <td>{{ partition.size(class_="form-control") }}</td>
                        <td>{{ partition.format_partition(class_="form-control") }}</td>
                        <td>
                            <button class="btn btn-danger" onclick="RemovePartition(this)">
                                {{ _('Remove') }}
                            </button>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
</form>

<select form="scopesForm" name="disk" >
    {% for disk in disks %}
        <option {% if disk == selected_disk %}selected{% endif %}
                value="{{ disk }}">{{ disk }}</option>
    {% endfor %}
</select>
<button class="btn btn-dark" form="scopesForm" formmethod="get"
        formaction="{{ url_for('action_setup_show') }}">
    {{ _('Change disk') }}
</button>

<button class="btn btn-primary" data-target="#partitionsTable" onclick="AddPartition(this)">
    {{ _('Add a new partition') }}
</button>

<button class="btn btn-success" form="setupForm">
    {{ _('Accept') }}
</button>

{% endblock %}
