{% extends 'commands.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% set sidebar_state = 'disabled' %}
{% set btn_back = true %}

{% block nav_inventory %} active{% endblock %}
{% block nav_inventory_software %} active{% endblock %}
{% block content %}

<h1 class="m-5">{{_('Software Inventory')}}</h1>

{{ wtf.quick_form(form,
                  action=url_for('action_software'),
                  method='post',
                  button_map={'view': 'primary', 'update': 'primary'},
                  extra_classes="mx-5")}}

{% endblock %}
