html, body {
    width: 100%;
    height: 100% !important;
}

#sidebar .list-group-item {
    background-color: transparent;
}

.toast {
    margin: 10px;
}

.nav.ogcp-nav {
  position: relative;
}

.ogcp-nav .nav-item {
  padding-left: 20px;
  position: relative;
}

.ogcp-nav .nav-link {
  padding: 0;
}
.ogcp-nav .active > .nav-link {
  font-weight: bold;
  background: slategrey;
  border-radius: 10rem;
}

.text-wol {
  color: #99791a !important;
}

.text-linux {
  color: #d77cb3 !important;
}

.text-windows {
  color: #2d9efb !important;
}

.badge-wol {
  color: white !important;
  background-color: #99791a !important;
}

.badge-linux {
  background-color: #d77cb3 !important;
}

.badge-windows {
  background-color: #2d9efb !important;
}

.og-pill {
  width: 11em;
}

#dhcpd_conf {
  height: 25rem;
}
