<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>{% block title %}{% endblock %} - OpenGnsys</title>
    {% endblock %}
</head>
<body>
    {% include 'nav.html' %}
    {% block nav %}{% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
</body>
</html>
