{% extends 'base.html' %}
{% import "macros.html" as macros %}

{% block nav_commands %}active{% endblock %}

{% block container %}
    <form id="scopesForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    {{ super() }}
</form>
{% endblock %}

{% block sidebar %}
  {{ macros.scopes_tree_collapse(scopes, sidebar_state, 'commands') }}
{% endblock %}

{% block commands %}

  <div class="dropdown btn">
    <button class="btn btn-secondary btn-light dropdown-toggle{% block nav_client %}{% endblock %}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
	    {{ _('Client') }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <input class="btn btn-light dropdown-item{% block nav_client_refresh %}{% endblock %}" type="submit" value="{{ _('Refresh') }}"
           form="scopesForm" formaction="{{ url_for('action_refresh') }}" formmethod="post">
    <input class="btn btn-light dropdown-item{% block nav_client_session %}{% endblock %}" type="submit" value="{{ _('Start session') }}"
           form="scopesForm" formaction="{{ url_for('action_session') }}" formmethod="get">
    <input class="btn btn-light dropdown-item{% block nav_client_details %}{% endblock %}" type="submit" value="{{ _('Client details') }}"
           form="scopesForm" formaction="{{ url_for('action_client_info') }}" formmethod="get">
    </div>
  </div>

  <div class="dropdown btn">
    <button class="btn btn-secondary btn-light dropdown-toggle{% block nav_setup %}{% endblock %}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
	    {{ _('Setup') }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <input class="btn btn-light dropdown-item{% block nav_setup_set_bootmode %}{% endblock %}" type="submit" value="{{ _('Set boot mode') }}"
           form="scopesForm" formaction="{{ url_for('action_mode') }}" formmethod="get">
    <input class="btn btn-light dropdown-item{% block nav_setup_set_oglive %}{% endblock %}" type="submit" value="{{ _('Set ogLive') }}"
           form="scopesForm" formaction="{{ url_for('action_oglive') }}" formmethod="get">
    <input class="btn btn-light dropdown-item{% block nav_setup_setup %}{% endblock %}" type="submit" value="{{ _('Partition & Format') }}"
           form="scopesForm" formaction="{{ url_for('action_setup_select') }}" formmethod="get">
    </div>
  </div>

  <div class="dropdown btn">
    <button class="btn btn-secondary btn-light dropdown-toggle{% block nav_power %}{% endblock %}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
	    {{ _('Power') }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <input class="btn btn-light dropdown-item{% block nav_power_wol %}{% endblock %}" type="submit" value="{{ _('Power on (WoL)') }}"
           form="scopesForm" formaction="{{ url_for('action_wol') }}" formmethod="get">
    <input class="btn btn-light dropdown-item{% block nav_power_poweroff %}{% endblock %}" type="submit" value="{{ _('Power off') }}"
           form="scopesForm" formaction="{{ url_for('action_poweroff') }}" formmethod="get">
    <input class="btn btn-light dropdown-item{% block nav_power_reboot %}{% endblock %}" type="submit" value="{{ _('Reboot') }}"
           form="scopesForm" formaction="{{ url_for('action_reboot') }}" formmethod="get">
    </div>
  </div>

  <div class="dropdown btn">
    <button class="btn btn-secondary btn-light dropdown-toggle{% block nav_image %}{% endblock %}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
	    {{ _('Image') }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <input class="btn btn-light dropdown-item{% block nav_image_create %}{% endblock %}" type="submit" value="{{ _('Create image') }}"
           form="scopesForm" formaction="{{ url_for('action_image_create') }}" formmethod="get">
    <input class="btn btn-light dropdown-item {% block nav_image_update %}{% endblock %}" type="submit" value="{{ _('Update image') }}"
           form="scopesForm" formaction="{{ url_for('action_image_update') }}" formmethod="get">
    <input class="btn btn-light dropdown-item{% block nav_image_restore %}{% endblock %}" type="submit" value="{{ _('Restore Image') }}"
           form="scopesForm" formaction="{{ url_for('action_image_restore') }}" formmethod="get">
    </div>
  </div>

  <div class="dropdown btn">
    <button class="btn btn-secondary btn-light dropdown-toggle{% block nav_inventory %}{% endblock %}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
	    {{ _('Inventory') }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <input class="btn btn-light dropdown-item{% block nav_inventory_hardware %}{% endblock %}" type="submit" value="{{ _('Hardware') }}"
           form="scopesForm" formaction="{{ url_for('action_hardware') }}" formmethod="get">
    <input class="btn btn-light dropdown-item{% block nav_inventory_software %}{% endblock %}" type="submit" value="{{ _('Software') }}"
           form="scopesForm" formaction="{{ url_for('action_software') }}" formmethod="get">
    </div>
  </div>

  <div class="dropdown btn">
    <button class="btn btn-secondary btn-light dropdown-toggle{% block nav_logs %}{% endblock %}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
      Logs
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <input class="btn btn-light dropdown-item{% block nav_logs_log %}{% endblock %}" type="submit" value="{{ _('System log') }}"
           form="scopesForm" formaction="{{ url_for('action_legacy_log') }}" formmethod="get">
    <input class="btn btn-light dropdown-item{% block nav_logs_rt %}{% endblock %}" type="submit" value="{{ _('Real time log') }}"
           form="scopesForm" formaction="{{ url_for('action_legacy_rt_log') }}" formmethod="get" formtarget="_blank">
    </div>
  </div>

  {% if btn_back %}
    <button class="btn btn-danger ml-3" type="button" id="backButton" onclick="history.back()">
      {{ _("Back") }}
    </button>
  {% endif %}
{% endblock %}

{% block content %}
  {{ macros.selected_clients() }}
{% endblock %}
