<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">OpenGnsys</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.endpoint == "index" %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('index') }}">{{ _('Home') }}<span class="sr-only">(current)</span></a>
      </li>
    {% if current_user.is_authenticated %}
      <li class="nav-item {% if request.endpoint == "scopes" %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('scopes') }}">{{ _('Scopes') }}</a>
      </li>
    {% endif %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}

        <li class="nav-item">
          <a class="btn btn-danger" href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
        </li>

    {% else %}

        <li class="nav-item">
          <a class="btn btn-primary" href="{{ url_for('login') }}">{{ _('Login') }}</a>
        </li>

    {% endif %}
    </ul>
  </div>
</nav>
