{% extends 'base.html' %}
{% import "macros.html" as macros %}

{% block nav_scopes %}active{% endblock %}

{% block container %}
    <form id="scopesForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    {{ super() }}
</form>
{% endblock %}

{% block sidebar %}
  {{ macros.print_scopes_tree(scopes["scope"]) }}
{% endblock %}

{% block commands %}
  <input class="btn btn-light" type="submit" value="{{ _('Add client') }}"
         form="scopesForm" formaction="{{ url_for('action_client_add') }}" formmethod="get">
  <input class="btn btn-light" type="submit" value="{{ _('Add room') }}"
         form="scopesForm" formaction="{{ url_for('action_room_add') }}" formmethod="get">
  <input class="btn btn-light" type="submit" value="{{ _('Delete room') }}"
         form="scopesForm" formaction="{{ url_for('action_room_delete') }}" formmethod="get">
{% endblock %}
