{% extends 'base.html' %}

{% block nav_users %}active{% endblock %}

{% block container %}
    <form id="usersForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    {{ super() }}
</form>
{% endblock %}

{% block sidebar %}
    <ul id="users-list" class="nav flex-column nav-pills">
        {% for user in users %}
            <li id="user-{{ user['USER'] }}" class="nav-item">
                <input class="form-check-input" type="checkbox" form="usersForm"
                       value="{{ user['USER'] }}"
                       name="user-{{ user['USER'] }}" />
                        {{ user['USER'] }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block commands %}
  <input class="btn btn-light {% block nav_user_add %}{% endblock %}" type="submit" value="{{ _('Add user') }}"
         form="usersForm" formaction="{{ url_for('user_add_get') }}" formmethod="get">
  <input class="btn btn-light {% block nav_user_edit %}{% endblock %}" type="submit" value="{{ _('Edit user') }}"
         form="usersForm" formaction="{{ url_for('user_edit_get') }}" formmethod="get">
  {% if btn_back %}
    <button class="btn btn-danger ml-3" type="button" id="backButton" onclick="history.back()">
      {{ _("Back") }}
    </button>
  {% endif %}
{% endblock %}

